@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
.gray{
    color: gray;
}

/* ---------------------------------------------------------------------nav */
.nav-items{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.nav-items{
    color: rgba(58, 58, 58, 1);
}
.nav-title h2{
    font-size: 20px;
}
nav a{
    color: rgba(58, 58, 58, 1);
    text-decoration: none;
    font-size: 16px;
    margin-right: 34px;
}
/* ---------------------------------------------------------------------Header */
.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-title{
    width: 573px;
}
.head-title h1{
    font-family: Poppins;
    font-size: 52px;
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 70px;
    color: rgba(58, 58, 58, 1);
}
.head-title p{
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
}
.header-link{
    margin-top: 35px;
}
.header-link a{
    color: white;
    text-decoration: none;
    background: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border-radius: 41px;
}
.header-link a i{
    padding-left: 12px;
}
.head-image img{
    width: 475px;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    margin-top: 30px;
}
/* ------------------------------------------------------------creadit-section */
.credit-imgages{
    margin-top: 10%;
}
.credit{
    margin: 0 auto;
    width: 1075px;
}
.credit-imgages img{
    
    padding: 0px 30px;
}
hr{
    color: gray;
    opacity: 30%;
}
/* -------------------------------------------------------------Popular collection */
.collection-title{
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 60px;
}
.image{
    padding: 20px;
    box-shadow: 0px 0px 15px rgb(228, 228, 228);
    border-radius: 20px;
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.image-title{
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.price{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 8px;
}
span{
    color:#FB8200;;
}
span .gray{
    color: rgb(92, 92, 92);
}
a{
    color: rgba(224, 44, 109, 1);
    text-decoration: none;
}
/* -------------------------------------------------------------------------blog */
.blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.blog-title {
    width: 645px;
}
.blog-title h1{
    font-size: 38px;
    margin-top: 0px;
}
.blog-title p{
    font-size: 21px;
    margin-bottom: 40px;
}
.last-arrow{
    color: white;
    text-decoration: none;
    background: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border-radius: 41px;
}
/* -------------------------------------------------------------------------footer */
.footer-container{
    width: 100%;
}
footer{
    margin-top: 200px;
}
.all-info{
    text-align: center;
    color: white;
    background-color: #0A0826;
    line-height: 10px;
    padding: 50px;
    background-size: auto;
    
}
/* ----------------------------------------------------------------------------Responsive */

@media only screen and (max-width: 662px) {

    .container{
        width: 100%;
    }
    .nav-items{
        flex-direction: column;
        align-items: center;
    }
    .nav-title h2 {
        font-size: 40px;
    }
    .header-info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .credit {
        text-align: center;
        width: auto;
    }
    .images {
        grid-template-columns: repeat(1, 1fr);
    }
    .img-width{
        width: 100%;
    }
    .see-more{
        text-align: center;
    }
    .blog {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .blog-title{
        margin-bottom: 10%;
        width: 95%;
    }
    nav,{
        display: none;
    }
}